<div class="modal fade" tabindex="-1" role="dialog" id="modelEditorInfoModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Model Editor Information</h4>
            </div>
            <div class="modal-body">
                <p>The code in the Model Editor has access to parameters <code>UrlParameters _urlParameters</code> and <code>HttpContext 
                _httpContext</code>. If code uses the <code>_urlParameters</code> variable the code and model cannot be pre compiled.
                    <pre>// documentation for UrlParamaters object availble in the Model Editors
// note route is /section/name/param/param2
public class UrlParameters
{
    public string Param { get; set; } 
    public string Param2 { get; set; } 
    public IDictionary<string,string> QueryString { get; set; }
    public Uri Url { get; set; }
}</pre>
                <p>To pass data to the view create an <code>Object Model</code> variable. When the code is compiled
                 the Model will be serialezed as json and passed to the view.</p>
                <pre>
// example declaration of Model object 
var Model = new { Param = _urlParameters.Param };</pre>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->