@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Proof of concept for Razor Templating</h1>
    <p>
       This is a simple app to show how RazorEngine can be used to allow Razor syntax and dynamic 
       templates in a content management system.
    </p>
</div>

<div class="row">
  
</div>